.headerWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    margin: 0 30px;
}

.centerNav {
    display: flex;
    list-style: none;
    font-size: 1.8em;
    li {
        margin: 0 1.5em;
        color: #979797;
        font-size: 1.2em;
        font-weight: bold;
    }
}