.profileTop {
    width: 100%;
    display: flex;
    background-color: #DBFEFB;
    .left {
        width: 35%;
        text-align: center;
        padding: 20px;
        .profileImage {
            border-radius: 50%;
        }
    }
    .right {
        width: 65%;
        position: relative;
        .rightWrapper {
            position: absolute;
            top: 25%;
            margin: 0 25px;
            .name {
                font-size: 3.2em;
                font-weight: bold;
            }
            .subtitle {
                font-size: 1.5em;
                font-weight: bold;
                margin-bottom: 10px;
            }
            .message {
                font-size: 1.2em;
            }
        }
    }
}

.profileCenter {
    margin-bottom: 20px;
    border-bottom: #DBFEFB 1px solid;
    h2 {
        text-align: center;
        font-size: 2.5em;
        font-weight: bold;
    }
    ul {
        list-style: none;
        padding-left: 20%;
        li {
            margin: 0 10px;
            font-weight: bolder;
            font-size: 2.3em;
            a {
                color: #000;
                text-decoration: none;
                font-weight: bold;
            }
        }
    }
}

.profileBottom {
    background-color: #DBFEFB;
    text-align: center;
    .technics {
        font-size: 2.5em;
        font-weight: bold;
    }
    .technicStack {
        font-size: 1.3em;
    }
}